/target/
*.iml
*.ipr
*.iws
.idea
.idea/*
*.swp
.project
.svn
*.log
/logs/
.DS_Store
/data/
.classpath
.settings/
overlays/
*/target/
*/logs/
*/dependency-reduced-pom.xml
*.rdb
*.log
out/
charts/
Chart.lock
*.versionsBackup
local_setup/__MACOSX/*
